<section class="bg-[#222e35] flex flex-col col-span-4">
    <div class="flex flex-row justify-between items-center ">
        <div class="flex flex-row items-center gap-3 p-2">
            <img class="size-11 rounded-full" src="<%= chat.recieverDP %>" alt="Profile Photo">
            <div class="flex flex-col">
                <h3 class="leading-8 font-bold text-lg">
                    <%= chat.recieverName %>
                </h3>
                <p class="text-[#8696a0]">Click here for contact info</p>
            </div>
        </div>
        <div class="flex flex-row p-2 gap-3">
            <svg viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet" class="" version="1.1"
                x="0px" y="0px" enable-background="new 0 0 24 24">
                <title>search-alt</title>
                <path fill="currentColor"
                    d="M15.9,14.3H15L14.7,14c1-1.1,1.6-2.7,1.6-4.3c0-3.7-3-6.7-6.7-6.7S3,6,3,9.7 s3,6.7,6.7,6.7c1.6,0,3.2-0.6,4.3-1.6l0.3,0.3v0.8l5.1,5.1l1.5-1.5L15.9,14.3z M9.7,14.3c-2.6,0-4.6-2.1-4.6-4.6s2.1-4.6,4.6-4.6 s4.6,2.1,4.6,4.6S12.3,14.3,9.7,14.3z">
                </path>
            </svg>
            <svg viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet" class="" version="1.1"
                x="0px" y="0px" enable-background="new 0 0 24 24">
                <title>menu</title>
                <path fill="currentColor"
                    d="M12,7c1.104,0,2-0.896,2-2c0-1.105-0.895-2-2-2c-1.104,0-2,0.894-2,2 C10,6.105,10.895,7,12,7z M12,9c-1.104,0-2,0.894-2,2c0,1.104,0.895,2,2,2c1.104,0,2-0.896,2-2C13.999,9.895,13.104,9,12,9z M12,15 c-1.104,0-2,0.894-2,2c0,1.104,0.895,2,2,2c1.104,0,2-0.896,2-2C13.999,15.894,13.104,15,12,15z">
                </path>
            </svg>
        </div>
    </div>
    <div
        class="chat flex flex-col justify-end p-2 items-end w-full h-full bg-[url('https://e1.pxfuel.com/desktop-wallpaper/461/478/desktop-wallpaper-whatsapp-dark-whatsapp-chat-thumbnail.jpg')]">
        <% for( let index=0; index < chat.messages.length; index++ ) { %>

            <div class="message flex flex-col items-end bg-[#005c4b] m-2 w-max px-3 py-1 rounded-md">
                <p class="mr-6" >
                    <%= chat.messages.length> 0 ? chat.messages[index].text : '' %>
                </p>
                <div class="flex flex-row items-center gap-1">
                    <p class="text-slate-300 text-xs">
                        <%= chat.messages.length> 0 ? chat.messages[index].formattedDate : '' %>
                    </p>
                    <svg height="11" width="16" fill="blue">
                        <path
                            d="M11.071.653a.457.457 0 0 0-.304-.102.493.493 0 0 0-.381.178l-6.19 7.636-2.405-2.272a.463.463 0 0 0-.336-.146.47.47 0 0 0-.343.146l-.311.31a.445.445 0 0 0-.14.337c0 .136.047.25.14.343l2.996 2.996a.724.724 0 0 0 .501.203.697.697 0 0 0 .546-.266l6.646-8.417a.497.497 0 0 0 .108-.299.441.441 0 0 0-.19-.374L11.07.653Zm-2.45 7.674a15.31 15.31 0 0 1-.546-.355.43.43 0 0 0-.317-.12.46.46 0 0 0-.362.158l-.292.33a.482.482 0 0 0 .013.666l1.079 1.073c.135.135.3.203.495.203a.699.699 0 0 0 .552-.267l6.62-8.391a.446.446 0 0 0 .109-.298.487.487 0 0 0-.178-.375l-.355-.273a.487.487 0 0 0-.673.076L8.62 8.327Z"
                            fill="currentColor" />
                    </svg>
                </div>
            </div>
            <% } %>

    </div>
    <div class="textbox bg-[#222e35] flex flex-row px-6 py-2 justify-evenly items-center">

        <button>
            <svg viewBox="0 0 24 24" height="24" width="24" version="1.1" x="0px" y="0px"
                enable-background="new 0 0 24 24">
                <title>smiley</title>
                <path fill="currentColor"
                    d="M9.153,11.603c0.795,0,1.439-0.879,1.439-1.962S9.948,7.679,9.153,7.679 S7.714,8.558,7.714,9.641S8.358,11.603,9.153,11.603z M5.949,12.965c-0.026-0.307-0.131,5.218,6.063,5.551 c6.066-0.25,6.066-5.551,6.066-5.551C12,14.381,5.949,12.965,5.949,12.965z M17.312,14.073c0,0-0.669,1.959-5.051,1.959 c-3.505,0-5.388-1.164-5.607-1.959C6.654,14.073,12.566,15.128,17.312,14.073z M11.804,1.011c-6.195,0-10.826,5.022-10.826,11.217 s4.826,10.761,11.021,10.761S23.02,18.423,23.02,12.228C23.021,6.033,17.999,1.011,11.804,1.011z M12,21.354 c-5.273,0-9.381-3.886-9.381-9.159s3.942-9.548,9.215-9.548s9.548,4.275,9.548,9.548C21.381,17.467,17.273,21.354,12,21.354z  M15.108,11.603c0.795,0,1.439-0.879,1.439-1.962s-0.644-1.962-1.439-1.962s-1.439,0.879-1.439,1.962S14.313,11.603,15.108,11.603z">
                </path>
            </svg>
        </button>

        <button>
            <svg viewBox="0 0 24 24" width="30" shape-rendering="crispEdges">
                <title>plus</title>
                <path fill="currentColor" d="M19,13h-6v6h-2v-6H5v-2h6V5h2v6h6V13z"></path>
            </svg>
        </button>
        <form action="/" method="post" class="flex flex-row w-[90%] justify-center gap-3">

            <input id="message" type="text" name="message" placeholder="Type a message"
                class="bg-[#2a3942] w-[100%] h-10 rounded-lg px-3 focus:outline-none focus:border-none">
            <input type="hidden" name="conversationId" value="<%= chat._id %>">

            <button type="submit">

                <svg id="voiceMsg" viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet"
                    class="" version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24">
                    <title>ptt</title>
                    <path fill="currentColor"
                        d="M11.999,14.942c2.001,0,3.531-1.53,3.531-3.531V4.35c0-2.001-1.53-3.531-3.531-3.531 S8.469,2.35,8.469,4.35v7.061C8.469,13.412,9.999,14.942,11.999,14.942z M18.237,11.412c0,3.531-2.942,6.002-6.237,6.002 s-6.237-2.471-6.237-6.002H3.761c0,4.001,3.178,7.297,7.061,7.885v3.884h2.354v-3.884c3.884-0.588,7.061-3.884,7.061-7.885 L18.237,11.412z">
                    </path>
                </svg>

                <svg id="sendMsg" viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet"
                    class="hidden" version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24">
                    <title>send</title>
                    <path fill="currentColor"
                        d="M1.101,21.757L23.8,12.028L1.101,2.3l0.011,7.912l13.623,1.816L1.112,13.845 L1.101,21.757z">
                    </path>
                </svg>

            </button>
        </form>
    </div>

</section>

<script src="app.js"></script>